@font-face {
  font-family: 'SpeedeasyItalic';
  src: url('/assets/SpeedeasyItalic');
}

$title: 'SpeedeasyItalic';

@font-face {
  font-family: 'Neuropol';
  src: url('/assets/Neuropol');
}

$sub-title: 'Neuropol';

$paragraph-font: 'Neuropol';
